
{% extends "layout.html" %}

{% block body %}
<h3>Taşıtan Kontrol Paneline Hoşgeldin {{session["username"]}}</h3>

<hr>

<hr>
<h4> Ayrıntılı Şirket ve Sorumlu Bilgilerini Düzenle</h4>
<dl>
  <dt>  </dt>
  <dd>Kayıt Olan Şoförleri Gör, İşi Güncelle, İş oluştur, İşi İptal Et</dd>
  <a href="/consignordashboard/companyprofile" class = "btn btn-info">Sayfaya Git</a>
</dl>
<hr>

<hr>
<h4> İleri Tarihte Gerçekleşecek Taşımacılık İşlerim </h4>
<dl>
  <dt>  </dt>
  <dd>Kayıt Olan Şoförleri Gör, İşi Güncelle, İş oluştur, İşi İptal Et</dd>
  <a href="/consignordashboard/newshippingjobs" class = "btn btn-info">Sayfaya Git</a>
</dl>
<hr>

<hr>
<h4> Geçmiş Taşımacılık İşlerim </h4>
<dl>
  <dt>  </dt>
  <dd>İş bitimi sağlanan taşımacılık işlerini görüntüle, belgeleri düzenle.</dd>
  <a href="/consignordashboard/oldshippingjobs"class = "btn btn-info">Sayfaya Git</a>
</dl>
<hr>

<hr>
<h4> İptal Edilen Taşımacılık İşlerim </h4>
<dl>
  <dd>Senin Tarafından veya Taşıyıcılar tarafından iptal edilen işleri görüntüle, bilgi al.</dd>
  <a href="/consignordashboard/cancelledshippingjobs-consignor"class = "btn btn-info">Sayfaya Git</a>
</dl>
<hr>
<br>


{% endblock body %}
