{% extends "layout.html" %}

{% block body %}


{% if tickets %}
    <h5> Seferinize Kayıt Olan Yolcular</h5>
    <table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">SeferID</th>
        <th scope="col">Kullanıcı Adı</th>
        <th scope="col">İsim</th>
        <th scope="col">Email</th>
        <th scope="col">Kayıt Tarihi</th>
        <th scope="col">Sefer Başlangıç Konum</th>
        <th scope="col">Sefer Bitiş Konum</th>
        <th scope="col">Başlangıç Tarihi</th>
        <th scope="col">Ücret</th>
        
        
        <th scope="col"></th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for tickets in tickets %}
        <tr>
        <th  scope="row">{{tickets.ticketid}}</th>
        <td>{{tickets.user_name}}</td>
        <td>{{tickets.name}}</td>
        <td>{{tickets.email}}</td>
        <td>{{tickets.enroldate}}</td>
        <td>{{tickets.firstlocation}}</a></td>
        <td>{{tickets.endlocation}}</td>
        <td>{{tickets.startdate}}</td>
        <td>{{tickets.price}}</td>
        <td>{{tickets.user_name}}/{{tickets.ticketid}}</td>
        
        
        <td><a href="enroledpassdelete/{{tickets.ticketid}}-{{tickets.user_name}}" class = "btn btn-danger">Yolcu Silme ve İletişim </a></td>
        
        </tr>
        {% endfor %}

{% else %}

<div class ="alert alert-warning"> Oluşturduğunuz yolculuğa kayıt olan kullanıcı bulunmuyor.</div>

{% endif %}

{% endblock body %}