{% extends "layout.html" %}

{% block body %}
<div class="jumbotron text-center"> 
    <h3>Online Lojistik İş İlanları Sayfamıza Hoşgeldiniz</h3>
    <p> Bu sitede firmalar ihtiyaçlarına uygun tırları, şoförleri bulabilir ve puanlayabilirler. İlerde geliştirilicek olan arayüzlerle şoförlerle direkt iletişime geçebilir taşımacılık esnasında anlık konumlar, hız limitlerine uyulması, uyku limitleri gibi özellikleri görebilirler. Tır sahipleri ise şirketlerin açtığı iş ilanlarına önceden kayıt olarak iş planlarını oluşturabilir. Kendisi sefere çıkmayacak tır sahipleri ise ihtiyaçlarına uygun şoför bulabilir veya tırlarını sistemin kendisi kullanması için sisteme yükleyerek uygun şoförlere sistem tırları ve iş ilanlarını eşleyerek sürekli olarak taşımacılıkta kullanılmasını sağlayarak kazanç oluşturabilirler.</p>


</div>


{% endblock  %}