{% extends "layout.html" %}
{% block body %}
<h4>Geçmiş Yolculuklarım</h4>
{% if old_pass_tickets %}
    <br>
    <br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Kayıt Tarihim</th>
        <th scope="col">Şoför</th>
        <th scope="col">Tır Marka</th>
        <th scope="col">Tır Model</th>
        <th scope="col">Tır Çeşidi</th>
        <th scope="col">1.Konum</th>
        <th scope="col">Son Konum</th>
        <th scope="col">Başlangıç Zamanı</th>
        <th scope="col">Ücret</th>
        
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for old_pass_tickets in old_pass_tickets %}
      <tr>
        <th  scope="row">{{old_pass_tickets.ticket_id}}</th>
        <td>{{old_pass_tickets.enroldate}}</td>
        <td>{{old_pass_tickets.ticketsowner}}</td>
        <td>{{old_pass_tickets.marka_ad}}</td>
        <td>{{old_pass_tickets.model}}</td>
        <td>{{old_pass_tickets.model_type_name}}</td>
        <td>{{old_pass_tickets.firstlocation}}</td>
        <td>{{old_pass_tickets.endlocation}}</td>
        <td>{{old_pass_tickets.startdate}}</td>
        <td>{{old_pass_tickets.price}}</td>
      
        
        
      </tr>
    <!--...  yolculuk seferine kayıt olan kullanıcı kayıdını silmek istediğinde sorguda çektiğimiz veriler ve tablolar çok fazla
    bunların arasından ticketpassengers tablosundaki ticket_id değerini url içinde döndürmemiz gerekir
    ve bunu da python tarafında ayrı bir url def fonksiyonu içine atarak yapabiliriz.        -->
      
      
      {% endfor %}
    </tbody>
  </table>

{% else %}
<br>
<br>
<dd>Kayıt Olabileceğiniz Yolcuklara Bakmak İçin Tıklayınız</dd>
<a href="/tickets" class = "btn btn-info"> Sayfaya Git</a>

{% endif %}



{% endblock body %}