{% extends "layout.html" %}

{% block body %}

{% if ticket %}

<h4>{{ticket.firstlocation}}/{{ticket.endlocation}}</h4>
<hr>
Yolculuk Seferini Ekleyen: {{ticket.ticketsowner}}
<hr>
Başlama Tarihi: {{ticket.startdate}}

<hr>
Oluşturulma Tarihi: {{ticket.created_date}}
<hr>
Seferin Detayları 
<br>
<br>

<!-- CK4 Editörde resim veya belge eklendiğinde database e html formatında eklendiği için bunu normal formda göstermek için djanga templatın filtreleme özelliği kullanılacak -->
{{ticket.routeaddress | safe }}
<a href="/yolculuk-kayıt" class = "btn btn-primary">Onayla ve Yolculuğa Kayıt Ol</a>


{% else %}

<div class ="alert alert-warning"> Görüntüleyebileceğiniz yolculuk seferi bulunmuyor.</div>

{% endif %}

{% endblock body %}